// fonts
$bold_font : "GTBold";
$medium_font : "GTMedium";
$regular_font : "GTRegular";

// padding 
$sec_pad : 10rem;
$sec_padMid : 5rem; 
$sec_padSmall : 4rem 2rem; 



// colors
$white_col : #FFFFFF;
$grey_col : #707070;
$prim_col : #931837;
$sec_col : #284B6C;


.career {

    background-image: url(../../assets/careerBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60rem;
    color: $white_col;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-position: center;

    @media only screen and (max-width: 1000px){
        min-height: 50rem;
    }

    &::before {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0,0,0,.5));
        pointer-events: none;
    }

    div {
        z-index: 1000;
        text-align: center;

        h2 {
            margin-bottom: 1rem;
        }

        img {
            width: 10rem;
        }
    }
    
}

.P_focus {
    position: relative;

    img {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }
}

.P_focus2 {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 700px) {
        height: 2rem;
    }
}


.section {
    padding: $sec_pad; 

    @media only screen and (max-width: 1000px){
        padding: $sec_padMid; 
    };
      
    @media only screen and (max-width: 500px){
        padding: $sec_padSmall; 
    };
}

.box {
    h2 {
        margin-bottom: 1rem;
    }

    p:first-of-type {
        width: 50%;
        @media only screen and (max-width: 700px){
            width: 100%;
        };
    }

    .link{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    a {
        font-size: 1.3rem;
        margin: 1rem 0;
        width: max-content;
        width: 100%;
        
    }

    p {
        font-size: 1.3rem;
        color: $grey_col;
          
        @media only screen and (max-width: 700px){
            width: 100%;
        };
    }

    ul {
        margin:3rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 3rem;

        h3 {
            font-size: 1.3rem;
        }

        span {
            color: $grey_col;
            font-size: 1.2rem;
        }   
    }
}